main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

h1 {
    font-size: 2.5rem;
    color: #89CE94;
    text-align: center;
    margin-bottom: 3rem;
}

.about-section {
    background-color: #6b6a6a;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.section-content {
    flex: 1;
}

.section-content h2 {
    font-size: 2rem;
    color: #643173;
    margin-bottom: 1.5rem;
}

.section-content p {
    font-size: 1.1rem;
    color: #86A59C;
    margin-bottom: 1rem;
    }

.section-image {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    border: 4px solid #643173;
    box-shadow: 0 4px 15px #643173cb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-shrink: 0;
}

.about-pic{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.section-left {
    flex-direction: row;
}

.section-right {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    main {
        padding: 2rem 1rem;
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .about-section {
        flex-direction: column;
        padding: 2rem;
    }
    .section-left {
        flex-direction: column;
    }
    .section-right{
        flex-direction: column;
    }
    .section-content h2 {
        font-size: 1.5rem;
    }
    .section-content p {
        font-size: 1rem;
    }
    .section-image {
        width: 250px;
        height: 250px;
    }
}